* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000020;
    color: #eeeeee;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: #ff00ff;
    text-decoration: none;
}

a:active {
    color: #ffff00;
    text-decoration: none;
}

html {
    width: 100%;
    height: 90%;
}


body {
    width: inherit;
    height: inherit;
}

#title {
    text-align: center;
}

#footer {
    text-align: center;
}

canvas {
    padding-left: 2%;
    padding-right: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
/*    position: absolute;*/
    width: 96%;
    max-width: 1280px;
/*    height: 960px;*/
}


.hidden {
    visibility: hidden;
}

.stretch-width {
    width: 100%;
}

.stretch-height {
    height: 100%;
}

.button {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
    align-items: flex-start;
    box-sizing: border-box;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    -webkit-writing-mode: horizontal-tb;
    -webkit-appearance: button;
}

.button:focus .button {
    outline: 0;
}

.media-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(28, 28, 28, 0.8);
    border-radius: 4px;
    color: #fff;
    z-index: 50;
    min-width: 26em;
    font-family: Verdana, Helvetica, sans-serif;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.media-info-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}
